@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-heading: "Outfit", sans-serif;
  --font-body: "Roboto", sans-serif;
  --bg-color: #2d0070;
  --foreground-color: white;
  --primary-color: #9f3ee7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: white;
}

h1 {
  font-size: 87px;
  font-family: var(--font-heading);
}
h2 {
  font-size: 57px;
  line-height: 1;
  font-family: var(--font-heading);
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 27.5px;
  letter-spacing: 2px;
  font-weight: 600;
}
p {
  font-size: 18px;
  line-height: 27.5px;
  font-family: var(--font-body);
  font-weight: 300;
  max-width: 373px;
}

li {
  font-size: 20px;
  color: white;
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

.text-md {
  font-size: 16px;
  font-family: var(--font-body);
}
.text-sm {
  font-size: 14px;
  line-height: 120%;
  font-family: var(--font-body);
}

button {
  padding: 20px;
  font-size: 20px;
  border-radius: 9999px;
}

.solid_btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-family: var(--font-body);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.outline_btn {
  background-color: transparent;
  color: white;
  border: 2px solid var(--primary-color);
  font-family: var(--font-body);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.black_btn {
  background-color: black;
  color: white;
  border: none;
  font-family: var(--font-body);
  letter-spacing: 1px;
}

/* NAV BAR */
.container {
  max-width: 1065px;
  margin: 0 auto;
}

nav {
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;
  justify-content: space-between;
  ul {
    display: flex;
    list-style: none;
    gap: 76px;
  }
}

.hero_section {
  display: flex;

  .content {
    flex: 1;
    h1 {
      line-height: 1;
      margin-top: 75px;
    }
    p {
      margin-top: 28px;
    }
  }

  .btn_container {
    margin-top: 36px;
    display: flex;
    gap: 15px;

    button {
      width: 255px;
    }
  }

  .image_container {
    flex: 1;
  }
  .image_container img {
    width: 100%;
  }
}

/* Brand Section */
.brand_section {
  margin-top: 160px;
  .brand_logos {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 19px 76px;
    gap: 16px;
    margin-top: 32px;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgba(99, 88, 189, 0.2);
  }

  .brand_logos img {
    &:first-child {
      height: 100%;
    }
    height: 50%;
  }
  margin-bottom: 100px;
}

/* Features Section */

.feature_section {
  display: flex;
  align-items: center;
  gap: 45px;

  .image_container {
    flex: 1;
  }

  .image_container img {
    width: 459px;
  }

  .content {
    flex: 1;

    h2 {
      margin-top: 17px;
      max-width: 481px;
    }
    p {
      margin-top: 20px;
      max-width: 481px;
    }

    button {
      min-width: 356px;
      margin-top: 26px;
    }
  }
}

/* Testimonial Section */

.testimonial_section {
  text-align: center;
  margin-top: 160px;
  color: #fff;

  h2 {
    margin-top: 16px;
  }

  .testimonials {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 120px;

    .card {
      background: #3e057f;
      border-radius: 20px;
      width: 320px;
      height: 260px;
      margin-top: 100px;
      padding: 80px 20px 30px;
      position: relative;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;

      .image_container {
        position: absolute;
        top: -50px;

        img {
          height: 138px;
          width: 138px;
          border-radius: 50%;
          object-fit: cover;
          filter: grayscale(100%) brightness(1.1) hue-rotate(250deg);
        }
      }

      h3 {
        margin-top: 26px;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        line-height: 1.5;
        max-width: 289px;
      }
    }
  }
}
/* Ready Section */

.ready_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 441px;
  background: linear-gradient(318deg, #b44cff 0%, #560d95 100%);
  border-radius: 20px;

  h2 {
    margin-top: 24px;
    margin-bottom: 48px;
  }
  button {
    max-width: 255px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 20px 40px;
    font-size: 17px;
    border-radius: 36px;
  }
}

/* Footer */

footer {
  display: flex;
  margin-top: 120px;
  margin-bottom: 48px;
  font-size: 16px;
  justify-content: space-between;

  .logo {
    font-weight: bold;
  }
  .links {
    ul {

      margin-top: 16px;
      list-style: none;
      display: flex;
      gap: 8px;
      flex-direction: column;
      li {
        font-size: 16px;
      }
    }
  }
  .newsletter {
    .input_container {
      margin-top: 20px;
      width: 345px;
      background: #13134d;
      position: relative;
      border-radius: 9999px;

      input {
        border-radius: 9999px;
        padding: 0 16px;
        height: 50px;
        background: #13134d;
        width: 100%;
        border: none;
      }

      input::placeholder {
        font-family: var(--font-body);
        font-weight: 400;
      }

      button {
        position: absolute;
        right: 4px;
        border-radius: 9999px;
        padding: 0;
        margin-top: 2px;
        background: var(--primary-color);
        border: none;
        color: white;
        width: 115px;
        height: 44px !important;
        text-transform: uppercase;
        font-family: var(--font-body);
        font-size: 15px;
        letter-spacing: 1px;
      }
    }
  }
}
.wrapper {
  overflow: hidden;
  z-index: 10;
  position: relative;
}