@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Forum&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-heading: "Caudex", sans-serif;
  --font-body: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quantum";
  src: url("Quantum.otf") format("truetype");

}

html,
body {
  background-color: #f8fafc;
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: var(--font-heading);
}

.solid_btn {
  background-color: black;
  color: white;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.outline_btn {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 34px 64px;
  align-items: center;

  .logo {
    font-size: 40px;
    font-family: "Quantum";
  }

  .right {
    display: flex;
    gap: 48px;
  }

  ul {
    display: flex;
    gap: 48px;
    list-style: none;
    align-items: center;

    li {
      font-size: 15px;
      color: white;
    }
  }

  .btns {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .outline_btn {
    padding: 12px 24px;
    border-radius: 24px;
  }

  .solid_btn {
    padding: 12px 24px;
    border-radius: 24px;
  }
}

/* Hero Section */
.hero_sec {
  display: flex;
  justify-content: center;
  margin-top: 112px;
  gap: 52px;

  .content {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 86px;
      margin-top: 76px;
      line-height: 100px;
    }

    p {
      font-size: 14px;
      font-weight: 200;
      margin-top: 32px;
    }

    button {
      width: 160px;
      height: 45px;
      border-radius: 42px;
      text-transform: none;
      font-family: var(--font-body);
      margin-top: 48px;
    }
  }
  .image_cont {
    img {
      height: 640px;
      width: 640px;
    }
  }
}

/* Brand Section */
.brand_sec {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  justify-content: center;
  align-items: center;

  h4 {
    text-transform: uppercase;
    font-size: 12px;
  }

  .brand_logos {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    margin-bottom: 80px;

    img {
      width: 152px;
    }
  }
}

/* Why Section */
.why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 48px;
    font-family: var(--font-heading);

    img {
      height: 58px;
      width: 180px;
      vertical-align: middle;
    }
  }

  .cards {
    display: flex;
    margin-top: 80px;
    margin-bottom: 112px;
    justify-content: center;
    gap: 48px;

    > div {
      padding: 10px;
      border-radius: 20px;
      background-color: #fcf5ee;
    }

    .card1 img {
      background-color: #d9ff6c;
    }
    .card2 img {
      background-color: #b6e7ff;
    }
    .card3 img {
      background-color: #ffd4e8;
    }

    img {
      width: 48px;
      height: 48px;
      margin-bottom: 24px;
      background-color: #a6e8f6;
      border-radius: 40%;
      padding: 2%;
    }

    h3 {
      margin-bottom: 24px;
    }

    p {
      font-size: 14px;
      font-weight: 200;
      line-height: 1.5;
    }
  }
}

/* Virtual Tour Section */
.virtual_tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    text-transform: uppercase;
    margin-top: 112px;
    margin-bottom: 16px;
    font-size: 12px;
  }

  h2 {
    font-size: 48px;
    font-family: var(--font-heading);
    text-align: center;
    margin-bottom: 24px;

    img {
      height: 58px;
      width: 180px;
      vertical-align: middle;
    }
  }

  p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 200;
  }

  button {
    width: 152px;
    height: 45px;
    font-size: 14px;
    text-transform: none;
    font-family: var(--font-body);
    margin-bottom: 80px;
    border-radius: 24px;
  }

  .vid_box {
    img {
      width: 1300px;
      height: 700px;
      margin-bottom: 200px;
    }
  }
}

/* Stats Section */
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  .stats-left {
    display: flex;
    flex-direction: column;

    h4 {
      font-size: 12px;
      font-family: var(--font-body);
      margin-bottom: 16px;
    }

    h2 {
      font-size: 48px;
      font-family: var(--font-heading);
      margin-bottom: 32px;
    }

    .stat-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 60px;

      .stat-number {
        font-size: 48px;
        margin-bottom: 8px;
        position: relative;
        display: inline-block;
        isolation: isolate;
        z-index: 0;
      }

      .circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        left: 40px;
        top: 25px;
        z-index: -1;
      }

      .green {
        background: #d9ff6c;
      }
      .blue {
        background: #b6e7ff;
      }
      .pink {
        background: #ffb6d9;
      }
      .orange {
        background: #ffd398;
      }

      p {
        font-size: 14px;
        font-weight: 200;
      }
    }
  }

  .stats-right {
    img {
      width: 616px;
      height: 640px;
    }
  }
}

/* Clients */
.t_sec {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 112px;

  .section-tag {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .section-title {
    font-size: 48px;
    margin-bottom: 32px;
    font-family: var(--font-heading);
  }

  .t_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 40px;

    > div {
      width: 360px;
      height: 311px;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background-color: aqua;
    }

    img {
      width: 56px;
      height: 56px;
      margin-top: 32px;
    }

    .text {
      font-size: 14px;
      text-align: left;
      margin: 24px 32px;
      font-weight: 200;
    }

    .name {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .role {
      font-size: 14px;
      font-weight: 200;
    }
    .t_card1 {
      background: #d9ff6c;
    }
    .t_card2 {
      background: #eeeeee;
    }
    .t_card3 {
      background: #b6e7ff;
    }
    .t_card4 {
      background: #ffd4e8;
    }
    .t_card5 {
      background: #ffd398;
    }
    margin-bottom: 200px;
  }
}

/* FAQ Section */
.FAQ {
  display: flex;
  gap: 130px;
  margin-left: 64px;

  .faq_left {
    max-width: 530px;

    h4 {
      font-size: 12px;
      font-family: var(--font-body);
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    h2 {
      font-size: 48px;
      font-family: var(--font-heading);
      margin-bottom: 24px;
      line-height: 1.1;
    }

    p {
      font-size: 14px;
      font-family: var(--font-body);
      line-height: 1.9;
    }
  }

  .faq_right {
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;

    .q-box {
      padding-bottom: 16px;
      width: 850px;

      .q-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-size: 14px;
          font-weight: 600;
        }

        img {
          width: 32px;
          height: 32px;
        }
      }

      .ans {
        display: none;
        font-size: 14px;
        line-height: 1.8;
        margin-top: 16px;
        color: #444;
      }
    }
    .q-box.open {
      .ans {
        display: block;
      }
    }
  }
}

/* Claim Your Spot Section */
.spot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  text-align: center;

  h1 {
    font-size: 96px;
    font-family: var(--font-heading);
    margin-bottom: 24px;

    img {
      width: 240px;
      height: 96px;
      vertical-align: middle;
    }
  }

  p {
    font-weight: 200;
    line-height: 1.8;
    margin-bottom: 40px;
  }

  button {
    width: 160px;
    height: 45px;
    border-radius: 42px;
    text-transform: none;
    font-family: var(--font-body);
  }
}

/* Blog Section */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  text-align: center;

  h4 {
    font-size: 12px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 48px;
    font-family: var(--font-heading);
    margin-bottom: 24px;

    img {
      width: 180px;
      height: 58px;
      vertical-align: middle;
    }
  }

  p {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.8;
    margin-bottom: 80px;
  }

  .blog_cards {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 32px;
  }
  img {
    width: 416px;
    height: 300px;
    margin-bottom: 24px;
  }

  .meta {
    display: flex;
    gap: 12px;
    font-size: 12px;
    margin-bottom: 12px;
    align-items: center;
  }
  .pill {
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: 600;
  }
  .blue {
    background-color: #a6e8f6;
  }
  .pink {
    background-color: #fcbedc;
  }

  .yellow {
    background-color: #d3f985;
  }

  .time {
    font-weight: 300;
  }

  h4 {
    font-size: 24px;
    text-transform: none;
    line-height: 1.4;
    font-family: var(--font-heading);
    margin-bottom: 24px;
  }

  .read {
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
  }

  .outline_btn {
    margin-top: 64px;
    padding: 12px 24px;
    border-radius: 42px;
    text-transform: none;
    margin-bottom: 112px;
  }
}

/* Footer */
footer {
  background: #111; /* Dark background */
  color: #fff;
  border-radius: 48px;
  padding: 48px;
  margin: 32px 64px;
  display: flex;
  justify-content: space-between;
  gap: 128px;

  .left_footer {
    max-width: 450px;

    .logo {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 24px;
      font-family: var(--font-heading);
    }

    p {
      font-size: 14px;
      line-height: 1.8;
      margin-bottom: 24px;
      font-weight: 200;
    }

    .newsletter {
      margin-bottom: 24px;

      .input_container {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-bottom: 8px;

        input {
          flex: 1;
          background: transparent;
          border: none;
          outline: none;
          color: white;
          font-size: 14px;
          font-family: var(--font-body);
          font-weight: 400;
          line-height: 1.5;
        }

        .solid_btn {
          background: #fff;
          color: #000;
          border-radius: 20px;
          padding: 12px 24px;
          font-size: 14px;
          text-transform: none;
          letter-spacing: 0;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .right_footer {
    display: flex;
    gap: 80px;
    width: 588px;

    .links {
      h4 {
        font-size: 12px;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: 500;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 100;

        li a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
}

/* Bottom Bar */
.bottom_bar {
  display: flex;
  font-size: 14px;
  font-weight: 200;
  justify-content: space-between;
  margin: 0 64px 64px 64px;

  .link_list {
    display: flex;
    text-decoration: underline;
    list-style: none;
    gap: 25px;
  }
}
